<mat-form-field class="full-width">
    <mat-label>Поиск сохраненных репозиториев</mat-label>
    <input matInput placeholder="Введите название" [(ngModel)]='searchText'>
</mat-form-field>

<div class='result-container' *ngIf='(user$ | async).favoriteRepos.length > 0; else noSaved'>
    <app-repo-card @favouriteOnLeaveAnimation *ngFor='let repo of (user$ | async).favoriteRepos | repoFilter:searchText' [repo]='repo'></app-repo-card>
</div>
<ng-template #noSaved>
    <p>нет сохраненных репозиториев</p>
</ng-template>
