<form [formGroup]='initialsGroup' (ngSubmit)='submit()'>
    <mat-card-content fxLayout='column' fxLayoutAlign='space-evenly stretch'>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input
                matInput
                placeholder="Name"
                type="text"
                formControlName='name'
            >
            <!-- <mat-error *ngIf='name.errors?.nospecial'>{{name.errors.nospecial}}</mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Surname</mat-label>
            <input
                matInput
                placeholder="Surname"
                type="text"
                formControlName='surname'
            >
            <!-- <mat-error *ngIf='name.errors?.nospecial'>{{name.errors.nospecial}}</mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input
                matInput
                placeholder="Email"
                type="email"
                formControlName='email'
            >
            <!-- <mat-error *ngIf='name.errors?.nospecial'>{{name.errors.nospecial}}</mat-error> -->
        </mat-form-field>
        <div style="margin-bottom: 20px;">
            <span>Male</span>
            <app-switcher formControlName='gender'></app-switcher>
        </div>
        <div fxLayout='column' fxLayoutAlign='end'>
            <button mat-raised-button color='primary' type="submit"
            [disabled]='initialsGroup.invalid || initialsGroup.pristine'>Save</button>
        </div>
    </mat-card-content>
</form> 
