<mat-sidenav-container backdropClick>
    <mat-sidenav #drawer mode='side'>
        <mat-list>
            <mat-list-item [routerLink]='["dashboard"]' (click)='drawer.close()'>
                <mat-icon>dashboard</mat-icon>Доска
            </mat-list-item>
            <mat-list-item [routerLink]='["events"]' (click)='drawer.close()'>
                <mat-icon>notifications_active</mat-icon>Список активностей
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content (click)='drawer.close()'>
        <ng-content></ng-content>
    </mat-sidenav-content>
    
</mat-sidenav-container>
