mat-sidenav-container, mat-sidenav {
    padding-top: 64px;
    height: 100%;
}
mat-sidenav-container {
    position: relative;
}
mat-sidenav {
    z-index: 10;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.3);
}

mat-container {
    width: 200px;
}
mat-list-item {
    cursor: pointer;
}
mat-list-item:focus {
    outline: none;
}
mat-sidenav-content {
    margin-left: 0 !important;
    padding: 2%;
}