<form [formGroup]='formGroup'>
    <span>Change password</span>
    <mat-card>
        <mat-card-content>
            <div fxLayout='column' fxLayoutAlign='space-evenly stretch'>
                <div fxFlex='100%'>
                    <mat-form-field class="full-width">
                        <mat-label>Old password</mat-label>
                        <input
                            matInput
                            placeholder="Old password"
                            type="text"
                            formControlName='oldPass'
                            required
                        >
                        <!-- <mat-error *ngIf='name.errors?.nospecial'>{{name.errors.nospecial}}</mat-error> -->
                    </mat-form-field>
                    
                </div>
                <div fxFlex='100%' formGroupName='newPassword'>
                    <mat-form-field class="full-width">
                        <mat-label>New password</mat-label>
                        <input
                            matInput
                            placeholder="New password"
                            type="text"
                            formControlName='password'
                        >
                        <!-- <mat-error *ngIf='name.errors?.nospecial'>{{name.errors.nospecial}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Repeat new password</mat-label>
                        <input
                            matInput 
                            placeholder="Repeat new password"
                            type="text"
                            formControlName='confirmpassword'
                        >
                        <!-- <mat-error *ngIf='name.errors?.nospecial'>{{name.errors.nospecial}}</mat-error> -->
                    </mat-form-field>
                </div>
                <p>{{formGroup.value | json}}{{formGroup.status}}</p>
                <div fxLayout='column' fxLayoutAlign='end'>
                    <button mat-raised-button color='primary' type="submit">Save</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>
