<form [formGroup]='changePasswordGroup' (ngSubmit)='submit()'>
    <div fxLayout='column' fxLayoutAlign='space-evenly stretch'>
        <div fxFlex='100%'>
            <mat-form-field class="full-width">
                <mat-label>Old password</mat-label>
                <input
                    matInput
                    placeholder="Old password"
                    type="password"
                    formControlName='oldPass'
                >
                <mat-error *ngIf='changePasswordGroup.get("oldPass").errors'>
                    <span *ngFor='let err of changePasswordGroup.get("oldPass").errors | keyvalue'>{{err.key === 'required' ? err.key : err.value}}</span>
                </mat-error>
                
            </mat-form-field>
            
        </div>
        <div fxFlex='100%' formGroupName='newPassword'>
            <mat-form-field class="full-width">
                <mat-label>New password</mat-label>
                <input
                    matInput
                    placeholder="New password"
                    type="password"
                    formControlName='password'
                >
                <mat-error *ngIf='changePasswordGroup.get("newPassword").get("password").errors'>
                    <span *ngFor='let err of changePasswordGroup.get("newPassword").get("password").errors | keyvalue'>{{err.key === 'required' ? err.key : err.value}}</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Repeat new password</mat-label>
                <input
                    matInput 
                    placeholder="Repeat new password"
                    type="password"
                    formControlName='confirmpassword'
                >
                <mat-error *ngIf='changePasswordGroup.get("newPassword").get("confirmpassword").errors'>
                    <span *ngFor='let err of changePasswordGroup.get("newPassword").get("confirmpassword").errors | keyvalue'>{{err.key === 'required' ? err.key : err.value}}</span>
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf='changePasswordGroup.get("newPassword").errors'>
                <span *ngFor='let err of changePasswordGroup.get("newPassword").errors | keyvalue'>{{err.key === 'required' ? err.key : err.value}}</span>
            </mat-error>
        </div>
        <div fxLayout='column' fxLayoutAlign='end'>
            <button mat-raised-button color='primary' type="submit"
            [disabled]='changePasswordGroup.pristine || changePasswordGroup.invalid'>Save</button>
        </div>
    </div>
</form>
